body {
  background-color: #ccc;
}

.root {
  max-inline-size: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem 0 rgb(127 127 127 / 0.5);
}

.title {
  text-align: center;
}
